@import '../../bower_components/bourbon/dist/bourbon';

// Global page settings
html {
  background: url('images/background.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  height: 100%;
  margin: 0px;
}

$CardWidth: 200px;
$CardHeight: 280px;

.application {
  height: 100%;
}

.side-bar {
  height: 100%;

  > .liquid-child {
    height: 100%;
  }
}

.game-card {
  margin: 5px;
  width: 150px;
  height: 200px;
  border: 2px solid black;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  background-color: white;
  position: relative;

  > .name {
    height: 20px;
    text-align: center;
    background-color: black;
    color: white;
  }

  > .image {
    height: 80px;
    background-color: #fffa86;
  }

  > .type {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 20px;
    padding-left: 4px;
    background-color: #fff100;
  }

  > .actions {
    margin: 2px;
    font-size: 12px;
    font-weight: bold;
  }

  > .points {
    position: absolute;
    bottom: 0px;
    padding-left: 4px;
    width: calc(100% - 4px);
    border-top: 1px solid black;
  }

  > .cost {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 34px;
    height: 34px;
    border: 1px solid black;
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    background-color: gray;

    > .value {
      font-size: 20px;
      position: relative;
      top: 5px;
      left: 12px;
    }
  }
}

#game-layout {
  height: 100%;
  @include display(flex);
  @include flex-direction(row);

  #overview-side-bar {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
    background-color: darkgray;

    #overview-side-bar-toggle {
      height: 20px;
      width: 100%;
      background-color: gray;
    }

    &.expanded {
      width: $CardWidth;
    }

    &.collapsed {
      width: 20px;
    }

    #hoard {
      width: 100%;
      height: 20px;
      background-color: purple;
    }

    #trinkets {
      width: 100%;
      @include display(flex);
      @include flex-direction(row);

      #kick {
        @include flex(1);
        height: 20px;
        background-color: blueviolet;
      }

      #weakness {
        @include flex(1);
        height: 20px;
        background-color: mediumpurple;
      }
    }

    #graveyard {
      width: 100%;
      height: 20px;
      background-color: darkorchid;
    }

    #rivals {
      @include flex(1);
      width: 100%;
      background-color: mediumorchid;
    }
  }

  #game-content-layout {
    @include flex(1);
    height: 100%;
    @include display(flex);
    @include flex-direction(column);

    #trove {
      @include flex(1);
      @include display(flex);
      @include flex-direction(row);

      .cost {
        cursor: pointer;

        &.affordable:hover {
          background-color: green;
        }

        &.not-affordable:hover {
          background-color: red;
        }
      }

      #villain {
        width: $CardWidth;
        background-color: darkred;
      }

      #chest {
        @include flex(1);
        @include display(flex);
        @include flex-direction(row);
        background-color: red;
      }
    }

    #game-action-layout {
      @include flex(2);
      @include display(flex);
      @include flex-direction(row);

      #lasting-player-actions {
        @include display(flex);
        @include flex-direction(column);

        #player-heroes {
          @include flex(1);
          width: $CardWidth;
          background-color: cornflowerblue;
        }
        #player-locations {
          @include flex(1);
          width: $CardWidth;
          background-color: darkcyan;
        }
        #player-fortress {
          @include flex(1);
          width: $CardWidth;
          background-color: slateblue;
        }
        #player-trove {
          @include flex(1);
          width: $CardWidth;
          height: 20px;
          background-color: royalblue;
        }
        #player-discard {
          @include flex(1);
          height: 20px;
          background-color: steelblue;
        }
      }

      #dynamic-actions-layout {
        @include flex(1);
        @include display(flex);
        @include flex-direction(column);

        #events {
          @include flex(1);
          background-color: green;
        }

        #transient-player-actions {
          @include flex(1);
          @include display(flex);
          @include flex-direction(row);
          background-color: blue;

          .game-card:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}