@import '../../bower_components/bourbon/dist/bourbon';

html {
  background: url('images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.game-card {
  width: 150px;
  height: 200px;
  @include background-image(linear-gradient(#171717, #101010));
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
}