<div class="game">
    <div class="game-area">
        <div id="game-area-deck">
            <div id="game-deck" class="game-area-card">
                <div class="title">
                    Deck
                </div>
            </div>
            <div id="game-kick" class="game-area-card">
                <div class="title">
                    Kick
                </div>
            </div>
            <div id="game-destroyed" class="game-area-card">
                <div class="title">
                    Destroyed
                </div>
            </div>
        </div>
        <div id="game-lineup" class="game-area-card">
            <div class="title">
                Lineup
            </div>
        </div>
        <div id="game-area-villain">
            <div id="game-super-villain" class="game-area-card">
                <div class="title">
                    Super Villain
                </div>
            </div>
            <div id="game-weakness" class="game-area-card">
                <div class="title">
                    Weakness
                </div>
            </div>
        </div>
    </div>
	<div class="player-deck">
		{{#each card in cards}}
			{{game-card name=card.name type=card.type power=card.power actions=card.actions}}
		{{/each}}
	</div>
</div>