<div class="game">
    <div class="game-area">
        <div id="game-area-deck">
            <div id="game-deck" class="card-area small">
                <div class="title">
                    Deck
                </div>
                <div id="game-deck-total">
                    {{deckCount}}
                </div>
            </div>
            <div id="game-kick" class="card-area small">
                <div class="title">
                    Kick
                </div>
            </div>
            <div id="game-weakness" class="card-area small">
                <div class="title">
                    Weakness
                </div>
            </div>
            <div id="game-destroyed" class="card-area small">
                <div class="title">
                    Destroyed
                </div>
            </div>
        </div>
        <div id="game-lineup" class="card-area full">
            <div class="title">
                Lineup
            </div>
            <div class="cards">
                {{#each card in lineup}}
                    {{game-card card=card}}
                {{/each}}
            </div>
        </div>
        <div id="game-super-villain" class="card-area large">
            <div class="title">
                Super Villain
            </div>
        </div>
    </div>
    {{outlet player}}
</div>